@font-face {
    font-family: "Mak";
    src: url(fonst/MAK.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #D8D2C2;
    overflow: hidden;
    
}

.site_logo-center{
    position: fixed;
    left: 50%;
    font-family: Mak;
    transform: translateX(-50%);
    font-size: 1.5rem;
    line-height: 6.25rem;
    text-transform: uppercase;
}

nav{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.site_menu{
    display: flex;
}

.site_menu li,a{
    text-decoration: none;
    margin-left: 20px;
    color: #000;
}

.header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-family: Mak;
    text-transform: uppercase;
    z-index: 2;
    font-size: 2.5rem;
    top: 20%;
}

.header-left span{
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    margin: 40px 0;
}

.link a{
    text-decoration: line-through;
    font-size: 1rem;
}


.container_items{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item{
    position: relative;
    flex-grow: 1;
    font-size: 13.75rem;
    font-family: Mak;
    transition: all 300ms ease-in-out;
}

.item:hover{
    flex-grow: 2;
    font-size: 25rem;
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 100%;
}

.container_item-imgWrap{
    position: absolute;
    top: -60rem;
    left: -80px;
    height: 500px;
    width: 400px;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
}

.container_image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

@media (max-width: 900px) {

    .container_items{
        height: 100px;
    }

    .item{
        font-size: 1.25rem;
    }

    .item:hover{
        flex-grow: 1;
        font-size: 1.25rem;
    }

    nav{
        display: none !important; 
    }

}
